* {
    color: darkred;
    background: whitesmoke;
}

ul {
    list-style: none;
    padding: 10px 0;
}

ul li {
    display: inline;
    margin-left: 15px;
}

li a {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid darkgray;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
}
a:hover, a.active {
    box-shadow: 0 0 5px darkgoldenrod;
    background: lightgoldenrodyellow;
}
a.active:not(.finish):hover {
    cursor: default;
}
